SECRET_KEY=my-secret

DATABASE_NAME=habit_tracker
DATABASE_USER=postgres
DATABASE_PASSWORD=my-password
DATABASE_HOST=localhost
DATABASE_PORT=5432

CORS_ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000

TIME_ZONE=Europe/Moscow
CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/0
TELEGRAM_BOT_TOKEN=token